/* - grid setting - */
$container-width: 1170px;
$container-padding: 15px;

/* - body setting - */
$font-family: "Roboto", sans-serif;
$font-size: 14px;
$font-family-title: "Roboto", sans-serif;

/* - colors - */
$white: #ffffff;
$black: #000000;