extends layouts/main

block vars
	-var title = "index.html"
	-var desc = ""
	-var key = ""

block content
	.container
		h1 index.html
		p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae nisi dolorum dolores autem sed ab esse est aliquid ipsa pariatur!